body {
}
.header-section {
  z-index: -1;
  height: 100vh;
  background: linear-gradient(90deg, #010a43 50%, #ffc2c2 50%);
  
}
.main-body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 30px;
}
.shop-tag {
  color: #fff;
  font-size: 4.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  height: 100vh;
  text-align: center;
  position: absolute;
  left: 130px;
  font-family: "Tinos", serif;
  line-height: 80%;
}
.shop-name {
  color: transparent;
  font-size: 7rem;
  height: 100vh;
  transform: rotate(0deg);
  writing-mode: vertical-rl;
  text-align: center;
  font-family: "Dancing Script", cursive;
  -webkit-text-stroke: 2px #010a43;
  position: absolute;
  right: 130px;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
