body {
}
.header-section {
  z-index: -1;
  height: 100vh;
  background: linear-gradient(90deg, #010a43 50%, #ffc2c2 50%);
  animation: headerBackgroundAnimation 1s 1;
  animation-timing-function: linear;
}

@keyframes headerBackgroundAnimation {
  0% {
    background: linear-gradient(to right, #010a43 5%, #ffffff 5% 50%, #ffc2c2 50% 55%, #ffffff 55%);
  }
  10% {
    background: linear-gradient(to right, #010a43 5%, #ffffff 5% 50%, #ffc2c2 50% 55%, #ffffff 55%);
  }
  12% {
    background: linear-gradient(to right, #010a43 6%, #ffffff 6% 50%, #ffc2c2 50% 56%, #ffffff 56%);
  }
  14% {
    background: linear-gradient(to right, #010a43 7%, #ffffff 7% 50%, #ffc2c2 50% 57%, #ffffff 57%);
  }
  16% {
    background: linear-gradient(to right, #010a43 8%, #ffffff 8% 50%, #ffc2c2 50% 58%, #ffffff 58%);
  }
  18% {
    background: linear-gradient(to right, #010a43 9%, #ffffff 9% 50%, #ffc2c2 50% 59%, #ffffff 59%);
  }
  20% {
    background: linear-gradient(to right, #010a43 10%, #ffffff 10% 50%, #ffc2c2 50% 60%, #ffffff 60%);
  }
  22% {
    background: linear-gradient(to right, #010a43 11%, #ffffff 11% 50%, #ffc2c2 50% 61%, #ffffff 61%);
  }
  24% {
    background: linear-gradient(to right, #010a43 12%, #ffffff 12% 50%, #ffc2c2 50% 62%, #ffffff 62%);
  }
  26% {
    background: linear-gradient(to right, #010a43 13%, #ffffff 13% 50%, #ffc2c2 50% 63%, #ffffff 63%);
  }
  28% {
    background: linear-gradient(to right, #010a43 14%, #ffffff 14% 50%, #ffc2c2 50% 64%, #ffffff 64%);
  }
  30% {
    background: linear-gradient(to right, #010a43 15%, #ffffff 15% 50%, #ffc2c2 50% 65%, #ffffff 65%);
  }
  32% {
    background: linear-gradient(to right, #010a43 16%, #ffffff 16% 50%, #ffc2c2 50% 66%, #ffffff 66%);
  }
  34% {
    background: linear-gradient(to right, #010a43 17%, #ffffff 17% 50%, #ffc2c2 50% 67%, #ffffff 67%);
  }
  36% {
    background: linear-gradient(to right, #010a43 18%, #ffffff 18% 50%, #ffc2c2 50% 68%, #ffffff 68%);
  }
  38% {
    background: linear-gradient(to right, #010a43 19%, #ffffff 19% 50%, #ffc2c2 50% 69%, #ffffff 69%);
  }
  40% {
    background: linear-gradient(to right, #010a43 20%, #ffffff 20% 50%, #ffc2c2 50% 70%, #ffffff 70%);
  }
  42% {
    background: linear-gradient(to right, #010a43 21%, #ffffff 21% 50%, #ffc2c2 50% 71%, #ffffff 71%);
  }
  44% {
    background: linear-gradient(to right, #010a43 22%, #ffffff 22% 50%, #ffc2c2 50% 72%, #ffffff 72%);
  }
  46% {
    background: linear-gradient(to right, #010a43 23%, #ffffff 23% 50%, #ffc2c2 50% 73%, #ffffff 73%);
  }
  48% {
    background: linear-gradient(to right, #010a43 24%, #ffffff 24% 50%, #ffc2c2 50% 74%, #ffffff 74%);
  }
  50% {
    background: linear-gradient(to right, #010a43 25%, #ffffff 25% 50%, #ffc2c2 50% 75%, #ffffff 75%);
  }
  52% {
    background: linear-gradient(to right, #010a43 26%, #ffffff 26% 50%, #ffc2c2 50% 76%, #ffffff 76%);
  }
  54% {
    background: linear-gradient(to right, #010a43 27%, #ffffff 27% 50%, #ffc2c2 50% 77%, #ffffff 77%);
  }
  56% {
    background: linear-gradient(to right, #010a43 28%, #ffffff 28% 50%, #ffc2c2 50% 78%, #ffffff 78%);
  }
  58% {
    background: linear-gradient(to right, #010a43 29%, #ffffff 29% 50%, #ffc2c2 50% 79%, #ffffff 79%);
  }
  60% {
    background: linear-gradient(to right, #010a43 30%, #ffffff 30% 50%, #ffc2c2 50% 80%, #ffffff 80%);
  }
  62% {
    background: linear-gradient(to right, #010a43 31%, #ffffff 31% 50%, #ffc2c2 50% 81%, #ffffff 81%);
  }
  64% {
    background: linear-gradient(to right, #010a43 32%, #ffffff 32% 50%, #ffc2c2 50% 82%, #ffffff 82%);
  }
  66% {
    background: linear-gradient(to right, #010a43 33%, #ffffff 33% 50%, #ffc2c2 50% 83%, #ffffff 83%);
  }
  68% {
    background: linear-gradient(to right, #010a43 34%, #ffffff 34% 50%, #ffc2c2 50% 84%, #ffffff 84%);
  }
  70% {
    background: linear-gradient(to right, #010a43 35%, #ffffff 35% 50%, #ffc2c2 50% 85%, #ffffff 85%);
  }
  72% {
    background: linear-gradient(to right, #010a43 36%, #ffffff 36% 50%, #ffc2c2 50% 86%, #ffffff 86%);
  }
  74% {
    background: linear-gradient(to right, #010a43 37%, #ffffff 37% 50%, #ffc2c2 50% 87%, #ffffff 87%);
  }
  76% {
    background: linear-gradient(to right, #010a43 38%, #ffffff 38% 50%, #ffc2c2 50% 88%, #ffffff 88%);
  }
  78% {
    background: linear-gradient(to right, #010a43 39%, #ffffff 39% 50%, #ffc2c2 50% 89%, #ffffff 89%);
  }
  80% {
    background: linear-gradient(to right, #010a43 40%, #ffffff 40% 50%, #ffc2c2 50% 90%, #ffffff 90%);
  }
  82% {
    background: linear-gradient(to right, #010a43 41%, #ffffff 41% 50%, #ffc2c2 50% 91%, #ffffff 91%);
  }
  84% {
    background: linear-gradient(to right, #010a43 42%, #ffffff 42% 50%, #ffc2c2 50% 92%, #ffffff 92%);
  }
  86% {
    background: linear-gradient(to right, #010a43 43%, #ffffff 43% 50%, #ffc2c2 50% 93%, #ffffff 93%);
  }
  88% {
    background: linear-gradient(to right, #010a43 44%, #ffffff 44% 50%, #ffc2c2 50% 94%, #ffffff 94%);
  }
  90% {
    background: linear-gradient(to right, #010a43 45%, #ffffff 45% 50%, #ffc2c2 50% 95%, #ffffff 95%);
  }
  92% {
    background: linear-gradient(to right, #010a43 46%, #ffffff 46% 50%, #ffc2c2 50% 96%, #ffffff 96%);
  }
  94% {
    background: linear-gradient(to right, #010a43 47%, #ffffff 47% 50%, #ffc2c2 50% 97%, #ffffff 97%);
  }
  96% {
    background: linear-gradient(to right, #010a43 48%, #ffffff 48% 50%, #ffc2c2 50% 98%, #ffffff 98%);
  }
  98% {
    background: linear-gradient(to right, #010a43 49%, #ffffff 49% 50%, #ffc2c2 50% 99%, #ffffff 99%);
  }
  100% {
    background: linear-gradient(90deg, #010a43 50%, #ffc2c2 50%);
  }
}
.main-body {
  background-image: linear-gradient(
    to right,
    #010a43,
    #635b86,
    #bebacd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #f9f1fb,
    #fcd9e7,
    #ffc2c2
  );
}
.shop-tag {
  color: #fff;
  font-size: 4.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  height: 100vh;
  text-align: center;
  position: absolute;
  left: 130px;
  font-family: "Tinos", serif;
  line-height: 80%;
}
.shop-name {
  color: transparent;
  font-size: 7rem;
  height: 100vh;
  transform: rotate(0deg);
  writing-mode: vertical-rl;
  text-align: center;
  font-family: "Dancing Script", cursive;
  -webkit-text-stroke: 2px #010a43;
  position: absolute;
  right: 130px;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  animation: headerBackgroundImageAnimation 1s 0s 1, backgroundImageFloatUpAnimation 1s 1s 1;
}

@keyframes headerBackgroundImageAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes backgroundImageFloatUpAnimation {
  0% {
    transform: translatey(-50px);
    opacity: 0;
  }
  2% {
    transform: translatey(-49px);
    opacity: 0.02;
  }
  4% {
    transform: translatey(-48px);
    opacity: 0.04;
  }
  6% {
    transform: translatey(-47px);
    opacity: 0.06;
  }
  8% {
    transform: translatey(-46px);
    opacity: 0.08;
  }
  10% {
    transform: translatey(-45px);
    opacity: 0.1;
  }
  12% {
    transform: translatey(-44px);
    opacity: 0.12;
  }
  14% {
    transform: translatey(-43px);
    opacity: 0.14;
  }
  16% {
    transform: translatey(-42px);
    opacity: 0.16;
  }
  18% {
    transform: translatey(-41px);
    opacity: 0.18;
  }
  20% {
    transform: translatey(-40px);
    opacity: 0.2;
  }
  22% {
    transform: translatey(-39px);
    opacity: 0.22;
  }
  24% {
    transform: translatey(-38px);
    opacity: 0.24;
  }
  26% {
    transform: translatey(-37px);
    opacity: 0.26;
  }
  28% {
    transform: translatey(-36px);
    opacity: 0.28;
  }
  30% {
    transform: translatey(-35px);
    opacity: 0.3;
  }
  32% {
    transform: translatey(-34px);
    opacity: 0.32;
  }
  34% {
    transform: translatey(-33px);
    opacity: 0.34;
  }
  36% {
    transform: translatey(-32px);
    opacity: 0.36;
  }
  38% {
    transform: translatey(-31px);
    opacity: 0.38;
  }
  40% {
    transform: translatey(-30px);
    opacity: 0.4;
  }
  42% {
    transform: translatey(-29px);
    opacity: 0.42;
  }
  44% {
    transform: translatey(-28px);
    opacity: 0.44;
  }
  46% {
    transform: translatey(-27px);
    opacity: 0.46;
  }
  48% {
    transform: translatey(-26px);
    opacity: 0.48;
  }
  50% {
    transform: translatey(-25px);
    opacity: 0.5;
  }
  52% {
    transform: translatey(-24px);
    opacity: 0.52;
  }
  54% {
    transform: translatey(-23px);
    opacity: 0.54;
  }
  56% {
    transform: translatey(-22px);
    opacity: 0.56;
  }
  58% {
    transform: translatey(-21px);
    opacity: 0.58;
  }
  60% {
    transform: translatey(-20px);
    opacity: 0.6;
  }
  62% {
    transform: translatey(-19px);
    opacity: 0.62;
  }
  64% {
    transform: translatey(-18px);
    opacity: 0.64;
  }
  66% {
    transform: translatey(-17px);
    opacity: 0.66;
  }
  68% {
    transform: translatey(-16px);
    opacity: 0.68;
  }
  70% {
    transform: translatey(-15px);
    opacity: 0.7;
  }
  72% {
    transform: translatey(-14px);
    opacity: 0.72;
  }
  74% {
    transform: translatey(-13px);
    opacity: 0.74;
  }
  76% {
    transform: translatey(-12px);
    opacity: 0.76;
  }
  78% {
    transform: translatey(-11px);
    opacity: 0.78;
  }
  80% {
    transform: translatey(-10px);
    opacity: 0.8;
  }
  82% {
    transform: translatey(-9px);
    opacity: 0.82;
  }
  84% {
    transform: translatey(-8px);
    opacity: 0.84;
  }
  86% {
    transform: translatey(-7px);
    opacity: 0.86;
  }
  88% {
    transform: translatey(-6px);
    opacity: 0.88;
  }
  90% {
    transform: translatey(-5px);
    opacity: 0.9;
  }
  92% {
    transform: translatey(-4px);
    opacity: 0.92;
  }
  94% {
    transform: translatey(-3px);
    opacity: 0.94;
  }
  96% {
    transform: translatey(-2px);
    opacity: 0.96;
  }
  98% {
    transform: translatey(-1px);
    opacity: 0.98;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
