* {
  font-family: "Dancing Script", cursive;
}

.error-page {
  height: 100vh;
}

.cls-1 {
  fill: #ff8f9c;
}

.cls-2 {
  fill: #010a43b4;
}

.cls-3 {
  fill: #010a43;
}

.cls-4 {
  fill: #ff7878;
}

.cls-5 {
  fill: #ff6f6f;
}

.cls-6,
.cls-7,
.cls-8 {
  fill: #852222;
}

.cls-10,
.cls-6 {
  opacity: 0.6;
}

.cls-7 {
  opacity: 0.4;
}

.cls-9 {
  fill: #e07979;
}

.cls-11 {
  fill: #974e4e;
}

.cls-12 {
  fill: #580d0d;
}

.cls-13 {
  fill: #5c2c2c;
}

.cls-14 {
  fill: #010a43b4;
}

/* all element positions */

.wheel {
  transform-origin: center;
  transform-box: fill-box;
}

.clock-hand-1 {
  transform-origin: bottom;
  transform-box: fill-box;
}

.clock-hand-2 {
  transform-origin: bottom;
  transform-box: fill-box;
  transform: rotate(320deg);
}

#box-top {
  transform-origin: right top;
  transform-box: fill-box;
}

#umbrella {
  transform-origin: center;
  transform: rotate(-5deg);
  transform-box: fill-box;
}

#cup {
  transform-origin: top left;
  transform-box: fill-box;
}

#pillow {
  transform-origin: center;
  transform: rotate(-10deg);
  transform-box: fill-box;
}

#stripe {
  transform-origin: center;
  transform-box: fill-box;
  transform: translateX(10px);
}

#bike {
  transform: translateX(0);
}

#rucksack {
  transform-origin: top;
  transform-box: fill-box;
  transform: rotate(5deg);
}

.circle {
  transform-origin: center;
  transform-box: fill-box;
  perspective: 0px;
}

.four.a {
  transform-origin: bottom left;
  transform-box: fill-box;
}

.four.b {
  transform-origin: bottom right;
  transform-box: fill-box;
}

#ou {
  transform-origin: center;
  transform-box: fill-box;
}

.error-page-text {
  font-size: 38px;
  color: #010a43;
}

.error-page-link {
  color: #ff8f9c;
  text-decoration: underline;
  cursor: pointer;
}
