body {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1em;
}

.contact-body {
  background-color: #010a43;
  border-radius: 10px;
}

.form-text {
  font-size: 20px;
  color: white;
}

.form-label {
  font-weight: 600;
  color: #ff8f9c;
  font-size: 18px;
  padding-top: 10px;
}

.border-input-field {
  width: 100%;
  padding: 12px;
  border: 2px solid white;
  border-radius: 10px;
  resize: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.form-button {
  width: 50%;
  color: #010a43;
  background-color: #ff8f9c;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
}

.contact-form-info {
  padding: 25px 5px 5px 25px;
}

.form-text-title {
  color: #ff8f9c;
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0px 10px 0px;
}

.form-info-text {
  color: white;
  font-size: 18px;
}

.social-media-icons {
  background-color: #ff8f9c;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.social-media-icons > svg {
  fill: #010a43;
}
