.facility {
  height: 172px;
  font-size: 25px;
  font-family:"Poppins", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.facility:nth-child(2n + 1) {
  background-color: #ff8f9c;
  color: #010a43;
}

.facility:nth-child(2n + 1) > svg {
  fill: #010a43;
}

.facility:nth-child(2n) {
  background-color: #010a43;
  color: #ff8f9c;
}

.facility:nth-child(2n) > svg {
  fill: #ff8f9c;
}
