* {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1em;
}

.footer-box {
  height: 300px;
  flex-grow: 1;
  position: relative;
}

.footer-box:hover {
  flex-grow: 2 !important;
}

.footer-titles {
  height: 300px;
  width: 100%;
  background: linear-gradient(to right, #010a43, #ffc2c2);
  color: white;
  font-size: 30px;
}

.footer-box:hover > .footer-titles {
  width: 50% !important;
  background: #010a43 !important;
  color: #ffc2c2 !important;
}

.footer-box:hover > .footer-links {
  display: flex !important;
  width: 50% !important;
}

.footer-links {
  height: 300px;
  background: #ffc2c2;
  color: #010a43;
  font-size: 20px;
  display: none;
  font-weight: 600;
}

.footer-box:hover > .footer-titles::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #010a43;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transform: rotate(45deg);
}

.social-media-icons {
  background-color: #010a43;
  padding: 10px;
  border-radius: 10px;
}

.social-media-icons > svg {
  fill: #ffc2c2;
  height: 40px;
  width: 40px;
}
