.product-card {
  height: 325px;
}
.product-card > div {
  background: linear-gradient(45deg, #010a43 50%, #ffc2c2 50%);
  height: 100%;
  border-radius: 10px;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.product-card>div:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #010a43 0%, #ffc2c2 100% );
  transform: translate3d(2px, 1px, 0) scale(1);
  filter: blur(20px);
}

.product-card>div::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
   
.inner-product-card {
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.inner-product-card > img {
  width: 100%;
  height: 180px;
}   
      
      
      